/* 탐색 버튼 컴포넌트 */
.carousel__controls {
  .carousel__button {
    border: 1px solid var(--colour-grey-8);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0.25rem;

    svg {
      display: block;
      margin: auto;
    }

    &:hover {
      background-color: var(--background-muted);
    }

    &:focus-visible {
      outline: 1px solid var(--colour-focus-ring);
    }
  }
}