:root {
  --colour-grey-100: #000000;
  --colour-grey-64: rgba(0, 0, 0, 0.64);
  --colour-grey-48: rgba(0, 0, 0, 0.48);
  --colour-grey-8: rgba(0, 0, 0, 0.08);

  --colour-grey-dark: #474747;
  --colour-grey-medium: #858585;
  --colour-black-soft: #333333;
  --colour-focus-ring: #2049DF;

  --background-default: #ffffff;
  --background-muted: #f5f5f5;
}